<section class="new-training" fxLayout fxLayoutAlign="center">
  <mat-card fxFlex.xs="100%" fxFlex ="400px">
    <mat-card-title fxLayoutAlign="center">Time to start a workout</mat-card-title>
    <mat-card-content fxLayoutAlign="center">
      <mat-form-field>
        <mat-select placeholder="Exercises">
          <mat-option value="crunches">
            Crunches
          </mat-option>
          <mat-option value="touch-toes">
            Touch-Toes
          </mat-option>
          <mat-option value="Squats">
            Squats
          </mat-option>
          <mat-option value="Burpees">
            Burpees
          </mat-option>

        </mat-select>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions fxLayoutAlign="center">
      <button type="submit" mat-button (click)="onStartTraining()">Start</button>
    </mat-card-actions>

  </mat-card>

</section>
