<mat-nav-list>
  <a mat-list-item routerLink="/signup" (click)="onClose()">
    <mat-icon>face</mat-icon>
    <span class="nav-captions">Signup</span>
  </a>
  <a mat-list-item routerLink="/login"(click)="onClose()">
    <mat-icon>login</mat-icon>
    <span class="nav-captions">Login</span>
  </a>
  <a mat-list-item routerLink="/training"(click)="onClose()">
    <mat-icon>timer</mat-icon>
    <span class="nav-captions">Training</span>
  </a>
  <mat-list-item (click)="onClose()">
    <button mat-icon-button>
      <mat-icon>eject</mat-icon>
      <span class="nav-captions">Logout</span>
    </button>
  </mat-list-item>
</mat-nav-list>
