<mat-toolbar color="primary">
  <div fxHide.gt-xs>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div><a routerLink="">LOGO</a></div>
  <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
    <ul fxLayout fxLayoutGap="10px" class="nav-items">
      <li><a mat-list-item routerLink="/signup">Signup</a></li>
      <li><a mat-list-item routerLink="/login">Login</a></li>
      <li><a mat-list-item routerLink="/training">Training</a></li>
      <li><a mat-list-item></a>Logout</li>
    </ul>
  </div>
</mat-toolbar>
