<div class="container">
  <section class="signup-form">
    <form
      fxLayout="column"
      fxLayoutAlign="center center"
      fxLayoutGap="10px"
      #f="ngForm"
      (ngSubmit)="onSubmit(f)"
    >
      <mat-form-field>
        <input
          type="email"
          matInput
          placeholder="Your email"
          ngModel
          name="email"
          email
          required
          #emailInput="ngModel"
        />
        <mat-error *ngIf="emailInput.hasError('required')" name="errEmpty">Email must not be empty</mat-error
        >
        <mat-error *ngIf="!emailInput.hasError('required')" name="errInvalid">Email is invalid</mat-error
        >
      </mat-form-field>
      <mat-form-field hintLabel="It should be at least 6 characters long.">
        <input
          type="password"
          matInput
          placeholder="Password"
          ngModel
          name="password"
          required
          minlength="6"
          #pwInput="ngModel"
        />
        <mat-hint align="end">{{ pwInput.value?.length }}/ 6</mat-hint>
        <mat-error>It has to be at least 6 characters long</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          placeholder="Your birthday"
          [matDatepicker]="picker"
          [max]="maxDate"
          ngModel
          name="birthdater"
          required
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-checkbox ngModel name="agree" required color="primary"
        >I agree to terms and conditions</mat-checkbox
      >
      <button mat-raised-button color="primary" [disabled]="f.invalid">Submit</button>
    </form>
  </section>
</div>
