mat-sidenav-container, mat-sidenav-content, mat-sidenav {
  height: 100%;
}

mat-sidenav {
  width: 250px;
}

a {
  text-decoration: none;
  color: white;
}

a:hover,
a:active {
  color: lightgray;
}

.nav-items {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-captions {
  display: inline-block;
  padding-left: 6px;;
}
