<div class="container">
  <section class="signup">
    <form
      fxLayout="column"
      fxLayoutAlign="center center"
      fxLayoutGap="10px"
      #f="ngForm"
      (ngSubmit)="onSubmit(f)"
    >
      <mat-form-field>
        <input
          type="email"
          matInput
          placeholder="Enter your registered email"
          required
          ngModel
          email
          #emailInput="ngModel"
          name="email"
        />
        <mat-error *ngIf="emailInput.hasError('required')" name="errEmpty">The email is empty</mat-error>
        <mat-error *ngIf="!emailInput.hasError('required')" name="errInvalid">The email is invalid</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input
          type="password"
          matInput
          placeholder="Enter your password"
          required
          minlength="6"
          ngModel
          #pwdInput="ngModel"
          name="password"
        />
        <mat-hint align="end">{{ pwdInput.value?.length }}/6</mat-hint>
        <mat-error>It must to be at least 6 characters long</mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" [disabled]="f.invalid">
        Submit
      </button>
    </form>
  </section>
</div>
